
// Palette
$purpureus: #9e4b9aff;
$wheat: #f5e0b7ff;
$ecru: #d6ba73ff;
$cambridge-blue: #8bbf9fff;
$oxford-blue: #101935ff;

$primary: $cambridge-blue;
$secondary: $wheat;
$error: $purpureus;
$warning: $ecru;
$background: $oxford-blue;
$primary-font: whitesmoke;

$highlight: #FFFFFF10;

// Breakpints
$break-xl: 1200px;
$break-l: 1024px;
$break-m: 768px;
$break-s: 480px;
$break-xs: 320px;

// Mixins
@mixin xl {
  @media (min-width: #{$break-xl}) {
    @content;
  }
}

@mixin l {
  @media (min-width: #{$break-l}) {
    @content;
  }
}

@mixin m {
  @media (min-width: #{$break-m}) {
    @content;
  }
}

@mixin s {
  @media (min-width: #{$break-s}) {
    @content;
  }
}

@mixin xs {
  @media (min-width: #{$break-xs}) {
    @content;
  }
}