
// Palette
$purpureus: #9e4b9aff;
$wheat: #f5e0b7ff;
$ecru: #d6ba73ff;
$cambridge-blue: #8bbf9fff;
$oxford-blue: #101935ff;

$primary: $cambridge-blue;
$secondary: $wheat;
$error: $purpureus;
$warning: $ecru;
$background: $oxford-blue;
$primary-font: whitesmoke;

$break-xl: 1200px;
$break-l: 1024px;
$break-m: 768px;
$break-s: 480px;
$break-xs: 320px;